body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    width: 300px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}

.display {
    font-size: 2rem;
    pad: 20px;
    background: #222;
    color: #fff;
    text-align: right;
    border-bottom: lpx solid #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.btn {
    pad: 20px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #f9f9f9;
    transition: background 0.25;
}

.btn:hover {
    background: #e0e0e0;
}

.operator {
    background: #f3f3f3;
}

.equal {
    grid-column: span 4;
    background: #ff9800;
    counter-reset: white;
}